<div class="flex flex-col gap-y-2">
  <p>
    I’m a technology professional with over a decade of experience in tech, specializing in software engineering,
    machine learning, and creating impactful, real-world applications - most recently with Generative AI. In my current
    role as a Lead Enterprise Architect, I design and implement scalable solutions while exploring new technologies and
    supporting engineering and product strategy. My work focuses on building and evaluating proofs of concept to drive
    innovation and deliver tangible value.
  </p>
  <p>
    My previous roles as Cloud Solutions Architect and Lead Software Engineer reflect my dedication to solving complex
    problems and driving innovation across diverse teams and projects.
  </p>
  <p>
    I hold a Bachelor of Science in Computer Science from Southeast Missouri State University and a Master of Science in
    Data Science from Maryville University of Saint Louis. This strong academic foundation, paired with hands-on industry
    experience, allows me to tackle challenges in full-stack development, cloud solutions, and machine learning with
    confidence and creativity.
  </p>
  <p>
    I’m proud to have earned certifications including Databricks Certified Data Engineer Associate, Microsoft Certified
    Azure Developer Associate, and Microsoft Azure Fundamentals, demonstrating my expertise in cloud technologies and
    data engineering. My technical toolbox spans Angular, Tailwind CSS, Java, Spring, SQL (SQL Server, MySQL, Spark
    SQL), OpenAI, Python, LangChain, C#, Microsoft Azure, Databricks/Apache Spark, Pulumi Infrastructure-as-Code, and
    beyond. With deep experience across the stack—from front-end user interfaces to back-end architecture and cloud
    infrastructure—I’m comfortable and confident working with any part of the tech stack.
  </p>
  <p>
    Outside of my professional life, I’m passionate about hockey (go St. Louis Blues!), a vinyl record collector, and an
    outdoor enthusiast who loves backpacking, hiking, camping, and skiing. I’m driven by an insatiable curiosity to keep
    learning and exploring, whether through tinkering with personal projects, experimenting with new technologies, or
    diving deeper into generative AI advancements.
  </p>
  <p>
    For me, technology isn’t just a career—it’s a calling. I thrive on building solutions that push boundaries, solve
    real-world problems, and create meaningful impact, whether in the workplace or through my own projects.
  </p>
</div>
